.container{
  margin-bottom: 10px;
}

.label {
  font-size: 1.1em;
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
}

.input {
  display: block;
  background-color: var(--background-secundary-color);
  border: 1px solid var(--secundary-color);
  border-radius: 4px;
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 1em;
  color: var(--primary-color);
}

.error{
  color: var(--background-error);
  font-weight: 700;
}

.submitButton {
  background-color: var(--background-button);
  color: white;
  padding: 15px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
}

.submitButton:hover {
  background-color: #2c33c4;
  
}