.submitButton {
  background-color: var(--background-button);
  color: white;
  padding: 15px 12px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 600;
}

.submitButton:hover {
  background-color: #2c33c4;
  
}

.closeButton {
  display: block;
  margin: 20px auto;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--background-error);
}