.closeButton {
  display: block;
  margin: 20px auto;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--background-error);
}

.deleteButton {
  background-color: var(--background-error);
  color: var(--background-secundary-color);
  border: none;
  padding: 10px 20px;
  margin: 25px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.successMsg{
  background-color: var(--background-sucess);
  color: var(--background-secundary-color);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.errorMsg{
  background-color: var(--background-error);
  color: var(--background-secundary-color);
  padding: 10px;
  border-radius: 4px;
}