.deleteButton {
  background-color: var(--background-error);
  color: var(--background-secundary-color);
  border: none;
  padding: 10px 20px;
  margin: 25px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}