.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.panel {
  width: 100%;
  max-width: 1100px;
  background: white;
  border-radius: 20px;
  padding: 35px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.controls {
  display: flex;
  gap: 12px;
  align-items: center;
}

.search input {
  background-color: var(--background-secundary);
  color: var(--secundary-color);
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--secundary-color);
  width: 220px;
}

.select {
  background-color: var(--background-secundary);
  color: var(--secundary-color);
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--secundary-color);
}

/* TABELA */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  text-align: left;
  padding: 14px 8px;
  font-weight: 700;
  color: #666;
  border-bottom: 1px solid #eee;
}

.table td {
  padding: 14px 8px;
  border-bottom: 1px solid #eee;
}

.statusBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.badge {
  padding: 6px 14px;
  border-radius: 8px;
  font-weight: 600;
  transition: 0.25s ease-in-out;
}

.badgeDone {
  background-color: var(--background-sucess);
  color: #065f46;
}

.badgeUndone {
  background: var(--background-error);
  color: #7f1d1d;
}

.badge:hover {
  transform: scale(1.05);
}

.statusCol {
  width: 120px;
}

/* ÍCONES */
.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 8px;
}

.pen{
  color: var(--background-button);
}

.trash{
  background-color: transparent;
  color: var(--background-error);
}

.actionsCol {
  width: 90px;
  text-align: right;
}

/* LABEL DE DESCRIÇÃO */
.descLabel {
  background: #eee;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.75rem;
  margin-left: 5px;
  display: inline-block;
}

/* SEM ITENS */
.loading,
.noItems {
  text-align: center;
  padding: 25px;
  color: #777;
}

/* BOTÃO FLUTUANTE */
.fab {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background: var(--background-button);
  color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.fab:hover {
  opacity: .9;
}
