.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secundary-color);
  color: var(--primary-color);
  width: 400px;
  height: 470px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);;
  padding: 20px;
}

.h1{
  margin-bottom: 20px;
  color: var(--secundary-color);
}

.formgroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  color: var(--secundary-color);
}

.paragraph {
  margin-top: 15px;
  font-size: 1.2em;
  color: var(--secundary-color);
}