.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  gap: 80px;
  height: 100%;
  width: 100%;
}

.Button {
  background: var(--background-button);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 15px;
  font-weight: bold;
}

.Button:hover {
  background: #2c33c4;
}
