.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  width: 380px;
  border-radius: 12px;
}

.list {
  margin-top: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.addBtn {
  background: var(--background-button);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.closeBtn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #ddd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
