.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--background-secundary-color);
  color: var(--secundary-color);
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h2{
  margin: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--background-secundary-color);
}

.saveButton {
  background: var(--background-button);
  color: var(--background-secundary-color);
  font-weight: 600;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.confirmDelete{
  padding: 8px 14px; 
  border-radius: 8; 
  background: var(--background-error);
  font-weight: 600;
  border: none; 
  border-radius: 8px;
  margin: auto;
}

.cancel{
  background-color: var(--background-button);
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-weight: 600;
 margin: auto; 
}