.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  color: var(--background-primary-color);
  padding: 24px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h2{
  margin: 0;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.saveButton {
  background: var(--background-button);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.closeBtn {
  background-color: transparent;
  color: var(--background-error);
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  margin: 12px auto 0 auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
