:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --background-primary-color: #d1ddee;
  --background-secundary-color: #f5f5f5;

  --background-button: #3b44f6;
  --background-sucess: #54ccb0;
  --background-error: #ff4d4f;

  --primary-color: #121212;
  --secundary-color: #868484;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--background-primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}