.container {
  padding: 28px;
  max-width: 700px;
  margin: 0 auto;
  color: black;
}

/* CARD DO PROJETO */
.card {
  background: white;
  border-radius: 10px;
  padding: 18px;
  margin-bottom: 20px;
  box-shadow: 0 8px 30px rgba(3,22,63,0.04);
}

.projectTitle {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: black;
}

.desc {
  margin-top: 10px;
  color: #444;
  font-size: 1.1rem;
}

.meta {
  margin-top: 8px;
  color: #777;
  font-size: 0.9rem;
}

/* BOTÕES EDITAR / EXCLUIR PROJETO */
.actions {
  display: flex;
  gap: 10px;
  margin-top: 14px;
}

.editButton {
  padding: 6px 14px;
  background: #e0e7ff;
  color: #1d1d1f;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.editButton:hover {
  background: #c7d2fe;
}

.deleteButton {
  padding: 6px 14px;
  background: #fee2e2;
  color: #b91c1c;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.deleteButton:hover {
  background: #fecaca;
}

/* CARD DA LISTA DE PENDÊNCIAS */
.todosList {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 30px rgba(3,22,63,0.06);
  margin-bottom: 22px;

  width: 450px;      
  margin-left: auto;
  margin-right: auto; 
}

.todosTitle {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
}

/* Bolinha */
.dot {
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
  display: none;
}

/* LINHAS DAS PENDÊNCIAS */
.todoRow {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 6px;
  border-bottom: 1px solid #eee;
}

.todoRow:last-child {
  border-bottom: none;
}

.todoTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  color: black;
}

/* Texto quando marcado como feito */
.done {
  text-decoration: line-through;
  color: #999;
}

/* Ícones Editar/Excluir/Ok */
.iconBtn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 10px;
  color: var(--secundary-color);
  transition: 0.2s;
}

.iconBtn:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

/* TEXTO QUANDO NÃO HÁ TODOS */
.noTodos {
  margin-top: 10px;
  color: #777;
}

/* BOTÃO ADICIONAR PENDÊNCIA */
.createTodoButton {
  margin-top: 20px;
  width: 100%;         
  background: var(--background-button);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s;
}

.createTodoButton:hover {
  opacity: 0.9;
}

/* BOTÃO VOLTAR */
.backButton {
  width: 100%;
  background: var(--background-button);
  color: white;
  border: none;
  padding: 14px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  margin-top: 25px;
}

.backButton:hover {
  opacity: 0.9;
}
