.container {
  width: 100%;
  padding: 40px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--background-primary-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: 0 auto;
}

.accessButton {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: var(--background-button);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.accessButton:hover {
  background: #2c33c4;
}
