.container {
  width: 100%;
  padding: 40px;
}

/* Cabeçalho */
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

/* Botão Criar Projeto */
.createButton {
  background: var(--background-button);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(60, 75, 255, 0.25);
  transition: 0.2s ease-in-out;
}

.createButton:hover {
  background: #2c33c4;
  transform: translateY(-2px);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 900px;
  margin: 0 auto;
}

.cardWrapper {
  position: relative;
}

/* Botão Excluir dentro do card */
.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  color: #b91c1c;
  cursor: pointer;
  padding: 4px;
  z-index: 10;
  transition: 0.2s ease;
}

.deleteButton:hover {
  transform: scale(1.12);
  opacity: 0.8;
}

/* Botão acessar */
.accessButton {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: var(--background-button);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 15px;
}

.accessButton:hover {
  background: #2c33c4;
}
