.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-secundary-color);
  color: var(--primary-color);
  width: 400px;
  height: 570px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);;
  padding: 20px;
}

.h1{
  margin-bottom: 5px;
  color: var(--secundary-color);
}

.formgroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2px;
  color: var(--secundary-color);
}

.closeButton {
  display: block;
  margin: 20px auto;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--background-error);
} 